.container-pag{
    background-color:black;
    color: white;
    height: 100%;
}
img{
    max-width: 100px;
    max-height: 100px;
}

.marco{
    border: 2px solid rgb(0, 186, 152);
}


h1 {
    text-align: justify;
}

h2, h3{
    text-align: center;
}

.nav-item{
    flex-direction: row;
    text-align: center;
}